<!DOCTYPE html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Mastermind</title>
  </head>

  <body>
    <h2>Welcome To Mastermind</h2>
    <p>The code will be in the following colors: <%= c_code.values.join(', ') %></p>
    <p>An 'O' signifies a correct color but an incorrect position, while an '@' signifies a correct color and a correct position. You have 10 turns. Good luck!</p>
    <table>
      <tr>
        <th>turn</th>
        <th>colors</th>
        <th>clues</th>
      </tr>
      <%= score %>
    </table>
      
      
      
    <% if turn >= 10 || result == 'Correct! You Win!'%>
      <form>
        <input type='hidden' name='play_again' value='yes'/>
        <input type='submit' value='Play Again!'/>
      </form>
    <% else %> 
      <form>
        <input type='text' name='color_guess' autofocus/>
        <input type='submit' value='submit guess'/>
        <input type='hidden' name='play_again' value='no'/>
      </form>
    <% end %>

  </body>
</html>
